<div class="wrapper">
  <h1>{{title}}</h1>
  <img class="image" src="./../assets/undraw_transfer_money_rywa.svg" />

  <div>
    <label for="amount-box">$ </label>
    <input #amountBox id="amount-box" value="1" (input)="updateAmounts(amountBox.value)" />

  </div>
  <div class="rates">
    <div *ngFor="let currency of (currencyRates)" class="conversion">
      <p class="noMargin code">{{ currency.code }}</p>
      <p class="noMargin value">
        {{ (currency.value * amount).toFixed(2) }}
      </p>
    </div>
  </div>
</div>
